<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Your account</title>
    <link rel="stylesheet" href="account.css">
    <link rel="stylesheet" href="./assets/vendors/bootstrap/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/vendors/fontawesome/css/all.min.css">
</head>

<body>
    <main>
        <header>
            <div class="logo">
                <a href="accueil.html"><img src="C1.png"></a>
            </div>
            <nav>
                <div class="topnav">
                    <a href="industries.html">Industries</a>
                    <a href="intership.html">Internship</a>
                    <a href="users.html">Users</a>
                    <img src="jean.png">
                </div>
            </nav>
        </header>
    </main>
    <div class="titre">
        <h1>
            Your account
        </h1>
    </div>
    <div class="image">
        <img src="contract.png">
    </div>
    <div class="button_a">
        <button id="go_a">Your internship</button><br><br>
        <button id="go_b">Your Wishlist</button><br><br>
        <button id="go_b">Validation sheet</button><br><br><br><br><br><br><br>
        <button id="go_d">Search internship</button><br><br>
    </div>
    <footer>
        <p>
            Mentions légales <br>
        <p>
            <p>
                woula
            </p>
    </footer>
</body>
</html>