.getbyid{
    border-color: #343A40 ;
}
.update {
    margin-left:50%;
}

.delete {
    margin-left: 50%;
}

/*if(isset($_GET['erreur'])){
                        $err = $_GET['erreur'];
                        if($err==1)
                            echo "<p style='color:red'>Utilisateur ou mot de passe incorrect</p>";
                    }
                    if(isset($_GET['erreur'])) {
                        $err = $_GET['erreur'];
                        if($err==1)
                            echo "<p style='color:red'>Utilisateur ou mot de passe incorrect</p>";
                    } cela vien de connexion.php*/